.itemContainer{
    background: #fff;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0,0.3);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.itemContainer .col{
    width: 15%;
}   
